<%- include('../partials/head'); %>

    <body>
        <main>
            
            <div class="container items-center">
                <div>
                    <h1 class="text-center mb-8 text-4xl font-extrabold leading-tight lg:text-6xl text-dark-grey-900">
                        Beneficios de las pausas activas</h1>
                </div>
                <div class="grid w-full grid-cols-1 my-auto mt-12 mb-8 xl:gap-14 md:gap-5 items-center">
                    <div class="flex flex-col justify-center col-span-1 text-center lg:text-start">
                        <h1 class="mb-8 text-4xl font-extrabold leading-tight lg:text-6xl text-dark-grey-900 text-center">¿Por qué
                            son importantes las pausas activas?</h1>
                        <div class="mb-6 text-3xl font-normal leading-7 w-full text-grey-900">
                            Las pausas activas ofrecen una serie de beneficios para la salud física y mental, así como
                            para el rendimiento en el trabajo o estudio. Algunos de ellos a continuación:</p><br>

                            <p><b>Mejora la circulación sanguínea:</b> Realizar movimientos físicos durante las pausas activas
                                ayuda a estimular la circulación de la sangre, lo que puede reducir el riesgo de
                                problemas circulatorios y la formación de coágulos sanguíneos.</p> <br>

                            <p><b>Alivia la tensión muscular:</b> Los ejercicios de estiramiento y movilidad durante las pausas
                                activas pueden aliviar la tensión muscular, reduciendo así el dolor de cuello, espalda y
                                hombros.</p> <br>

                            <p><b>Aumenta la flexibilidad y la movilidad:</b> Practicar ejercicios de estiramiento y movilidad
                                de manera regular mejora la flexibilidad y la amplitud de movimiento de las
                                articulaciones, lo que puede prevenir lesiones y mejorar la postura.</p> <br>

                            <p><b>Reduce el estrés:</b> Las pausas activas permiten desconectar de las tareas y reducir el
                                estrés acumulado, lo que puede mejorar el bienestar emocional y la concentración.</p>
                            <br>

                            <p><b>Aumenta la energía y la vitalidad:</b> Movimientos físicos suaves durante las pausas activas
                                pueden aumentar los niveles de energía y reducir la sensación de fatiga.</p> <br>

                            <p><b>Mejora la concentración y la productividad:</b> Tomarse un breve descanso para realizar
                                pausas activas puede mejorar la concentración y la productividad al regresar a las
                                tareas, ya que ayuda a mantener la mente fresca y alerta.</p> <br>

                            <p><b>Fomenta la interacción social:</b> En entornos laborales o educativos, realizar pausas
                                activas en grupo puede fomentar la interacción social y fortalecer las relaciones entre
                                compañeros de trabajo o estudiantes.</p> <br>

                            <p><b>Promueve un estilo de vida activo:</b> Incorporar pausas activas en la rutina diaria puede
                                ser el primer paso para adoptar un estilo de vida más activo y saludable en general.</p>
                            <br>

                            <p><b>Previene problemas de salud a largo plazo:</b> La inactividad prolongada está relacionada con
                                una serie de problemas de salud a largo plazo, como enfermedades cardiovasculares,
                                diabetes y obesidad. Las pausas activas pueden contribuir a reducir estos riesgos.</p>
                            <br>

                            <p><b>Mejora el estado de ánimo:</b> La actividad física durante las pausas activas libera
                                endorfinas, neurotransmisores que pueden mejorar el estado de ánimo y reducir la
                                sensación de ansiedad.</p><br>

                            <p><b>Reduce el dolor y la rigidez:</b> Las pausas activas son especialmente beneficiosas para
                                quienes pasan mucho tiempo sentados, ya que ayudan a prevenir o reducir el dolor de
                                espalda, cuello y articulaciones.</p><br>

                            <p><b>Fomenta la creatividad:</b> Cambiar de actividad y moverse puede estimular la creatividad y
                                la resolución de problemas, lo que puede ser beneficioso en entornos creativos o de
                                trabajo intelectual.</p><br>
                            </p>
                            <div class="items-center md:flex  w-full">
                                <img class="w-full rounded-md"
                                    src="https://www.equiposytalento.com/contenido/reportajes/189/REPOR06.png"
                                    alt="header image">
                            </div>
                        </div>
                        <div class="flex-col">
                        <a href="/"><button class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
                            hover:border-gray-500 hover:bg-gray-500 hover:text-black">Atrás</button></a>
                        <a href="/ejercicios"><button class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
                            hover:border-gray-500 hover:bg-gray-500 hover:text-black">Siguiente</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
            

        </main>
        <%- include('../partials/footer'); %>
    </body>

    </html>