<%- include('../partials/head'); %>

    <body>
        <main>
            <div class="container">
                <h1 class="text-center mb-8 text-4xl font-extrabold leading-tight lg:text-6xl text-dark-grey-900">
                    Ejercicios recomendados</h1>
                <h2 class="text-center mb-8 text-2xl leading-tight lg:text-6xl text-dark-grey-900">¡Te dejo algunos ejemplos y un video!</h2>

                <div class="grid w-full my-auto mt-12 mb-8 md:grid-cols-2 xl:gap-14 md:gap-5">
                    <div class="flex flex-col justify-center col-span-1 text-center lg:text-start">
                        <h1 class="mb-8 text-4xl font-extrabold leading-tight lg:text-6xl text-dark-grey-900">Tipos de ejercicios
                        </h1>
                        <div class="mb-6 text-3xl font-normal leading-7 w-full text-grey-900">
                            <p><b>Estiramiento:</b> Estas pausas se centran en estirar los músculos para aliviar la
                                tensión y mejorar la flexibilidad. Pueden ser ejercicios de estiramiento incluyen
                                estirar los brazos, el cuello, las piernas y la espalda, entre otras partes. <a
                                    href="https://www.youtube.com/watch?v=gB4gT3YyDuU&ab_channel=SienteteJoven"
                                    class="button">Ver aquí</a></p>
                            <p><b>Ejercicios de movilidad:</b> Se enfocan en mover las articulaciones y mejorar la
                                movilidad. Ejemplos de ejercicios de movilidad incluyen movimientos circulares, flexiones y extensiones de las rodillas, cadera, cabeza
                                hombros y las muñecas.<a
                                    href="https://www.youtube.com/watch?v=K6J5R8JbyBQ&ab_channel=MYOX"
                                    class="button">Ver aquí</a></p>

                            <p><b>Ejercicios de fortalecimiento:</b> Estas pausas implican ejercicios ligeros de
                                resistencia para fortalecer los músculos. Pueden incluir flexiones de brazos en la silla
                                o sentadillas sin peso adicional.<a
                                    href="https://www.youtube.com/watch?v=jtPflZ0-pFs&ab_channel=SmithTraining"
                                    class="button">Ver aquí</a></p>

                            <p><b>Ejercicios de respiración:</b> Las pausas de respiración se centran en técnicas de
                                respiración profunda y relajante para reducir el estrés y mejorar la concentración.<a
                                    href="https://www.youtube.com/watch?v=ZgATB00VWKg&ab_channel=Fisioterapiaatualcance"
                                    class="button">Ver aquí</a></p>

                            <p><b>Yoga en la silla:</b> Estos ejercicios de yoga se realizan mientras se está sentado en
                                una silla y pueden incluir posturas suaves y estiramientos.<a
                                    href="https://www.youtube.com/watch?v=XaZ8knO8Q1c&ab_channel=YogaVista%28akaYogaJP%29"
                                    class="button">Ver aquí</a></p>

                            <p><b>Mindfulness y meditación:</b> Pausas activas que se centran en la relajación mental y
                                la atención plena para reducir el estrés y mejorar la concentración.<a
                                    href="https://www.youtube.com/watch?v=hTKDQ5FRB18&ab_channel=MalovaElena"
                                    class="button">Ver aquí</a></p>
                        </div>
                    </div>
                    <div class="items-center justify-center col-span-1 md:flex">
                        <img class="w-full rounded-md" src="https://sp-ao.shortpixel.ai/client/to_auto,q_lossy,ret_img,w_1080,h_675/https://crossnet.la/wp-content/uploads/2020/04/5483-1080x675.jpg" alt="header image">
                    </div>
                    <div class="flex-col">
                        <a href="/beneficios"><button class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
                            hover:border-gray-500 hover:bg-gray-500 hover:text-black">Atrás</button></a>
                        <a href="/medidasempresariales"><button class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
                            hover:border-gray-500 hover:bg-gray-500 hover:text-black">Siguiente</button></a>
                        </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>

    </html>


