<%- include('../partials/head'); %>

    <body>
        <main>
            <div class="container">
                <div>
                    <h1 class="text-center mb-8 text-4xl font-extrabold leading-tight lg:text-6xl text-dark-grey-900">
                        LAS PAUSAS ACTIVAS</h1>
                </div>
                <div class="grid w-full grid-cols-1 my-auto mt-12 mb-8 md:grid-cols-2 xl:gap-14 md:gap-5">
                    <div class="flex flex-col justify-center col-span-1 text-center lg:text-start">
                        <div class="flex items-center justify-center mb-4 lg:justify-normal">
                            <img class="h-5"
                                src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/logos/logo-1.png"
                                alt="logo">
                            <h4 class="ml-2 text-sm font-bold tracking-widest text-primary uppercase">Aprendamos un poco
                                sobre las pausas activas</h4>
                        </div>
                        <p class="mb-6 text-3xl font-normal leading-7 w-full text-grey-900">
                            Las pausas activas son breves interrupciones en la rutina diaria que implican la realización
                            de ejercicios suaves y movimientos físicos diseñados para combatir la inactividad, mejorar
                            la circulación y reducir el estrés en el cuerpo y la mente. Estas pausas se realizan
                            típicamente durante períodos de trabajo o estudio prolongados, en los cuales las personas
                            tienden a permanecer sentadas o en una posición estática durante mucho tiempo. El propósito
                            de las pausas activas es promover la salud y el bienestar al mantener el cuerpo en
                            movimiento y reducir los efectos negativos del sedentarismo.
                        </p>
                        <a href="/beneficios"><button class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
                        hover:border-gray-500 hover:bg-gray-500 hover:text-black">Siguiente</button></a>

                    </div>
                    <div class="items-center justify-center col-span-1 md:flex">
                        <img class="w-full rounded-md"
                            src="https://www.danielcolombo.com/wp-content/uploads/2021/06/TrabajodesdecasaPor.jpg"
                            alt="header image" width="200px" height="200px">
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer'); %>
    </body>

    </html>