<%- include('../partials/head'); %>
<body> 
    <main>
    <div class="container">
    <div class="grid w-full grid-cols-2 my-auto mt-12 mb-8 md:grid-cols-2 xl:gap-14 md:gap-5">
        <div>
            <h1 class="text-center mb-8 text-4xl font-extrabold leading-tight lg:text-6xl text-dark-grey-900">Medidas Empresariales</h1>
            <div class="text-center mb-8 text-3xl leading-tight text-dark-grey-900">
            <p><b>«Todas las empresas del país deben promover espacios para la realización de pausas activas durante la jornada laboral y para ello se debe apoyar de su administradora de riesgo laboral (ARL).»</b></p>
            <b>Ley 1355 de 2009:<p></p></b> Por medio de la cual se define la obesidad y las enfermedades crónicas no transmisibles asociadas a esta como una prioridad de salud pública y se adoptan medidas para su control, atención y prevención.  </p>
            <div class="items-center justify-center col-span-1 md:flex">
                <img class="w-full rounded-md"
                    src="https://acis.org.co/portal/sites/default/files/Datos2_Dell.jpeg"
                    alt="header image" width="200px" height="200px">
            </div>
            <div class="flex-col">
                <a href="/ejercicios"><button class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
                    hover:border-gray-500 hover:bg-gray-500 hover:text-black">Atrás</button></a>
                <a href="/"><button class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors
                    hover:border-gray-500 hover:bg-gray-500 hover:text-black">Inicio</button></a>
                </div>
            </div>

        </div>
        <div class="flex flex-col justify-center col-span-1 text-center lg:text-start text-3xl">
            <p>La implementación de medidas específicas puede variar según la empresa y el sector</p>
            <p>Las medidas que las empresas pueden tomar en relación con las pausas activas en el contexto de las regulaciones laborales colombianas son:</p>


            <p><b> »Promoción de la actividad física:</b> Promover la actividad física y las pausas activas como parte de su cultura de bienestar laboral. Esto puede incluir la difusión de información sobre los beneficios de las pausas activas y la participación en programas o campañas de promoción de la actividad física.</p>

            <p><b>  »Espacios adecuados:</b> Proporcionar espacios adecuados para que los empleados realicen pausas activas de manera segura. Esto puede incluir áreas designadas para estiramientos o ejercicios ligeros, así como la provisión de equipos o accesorios necesarios.</p>

            <p><b>   »Programas de capacitación:</b> Implementar programas de capacitación para que los empleados conozcan la importancia de las pausas activas, sepan cómo realizarlas correctamente y estén informados sobre los riesgos de la inactividad prolongada.</p>

            <p><b>  »Horarios programados:</b> Establecer horarios específicos para que los empleados realicen pausas activas durante la jornada laboral. Esto puede incluir breves descansos cada cierto tiempo para estirarse o moverse.</p>

            <p><b>    »Políticas de flexibilidad:</b>  Ofrecer políticas de flexibilidad laboral que permitan a los empleados realizar pausas activas según sus necesidades, siempre que se cumplan las horas de trabajo requeridas.</p>

            <p><b>    »Participación activa en comités de salud y seguridad:</b> Fomentar la participación de empleados en comités de salud y seguridad laboral, donde se pueden discutir y proponer medidas relacionadas con las pausas activas y la prevención de problemas de salud relacionados con la inactividad.</p>

            <p><b>   »Evaluación de riesgos laborales:</b> Realizar evaluaciones de riesgos laborales, y esto puede incluir la identificación de riesgos relacionados con la falta de actividad física en el trabajo. En función de estas evaluaciones, se pueden tomar medidas específicas. </p>
        </div>

    </div>
</div>
    </main>
<%- include('../partials/footer'); %>
</body>
</html>